html {
  font-family: Helvetica, Verdana, sans-serif;
  background-color: rgb(232, 232, 232);
}

* {
  padding: 0;
  margin: 0;
}

img {
  position: relative;
  width: 100%;
  border-radius: 50%;
}

.main-container {
  padding: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.left-container {
  width: 300px;
  align-items: center;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 25px;
}

.user-name-box {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 15px;
  font-weight: 400;
  color: gray;
}

.follow-btn {
  margin-top: 15px;
  width: 100%;
  border-radius: 3px;
  border: 1px rgb(150, 150, 150) solid;
  font-size: 15px;
  background-color: rgb(220, 220, 220);
  padding: 5px;
  cursor: pointer;
}

.follow-btn:active {
  background-color: #8c8c8c;
}

.follows {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
}

.follows > p{
  font-size: 15px;
}

.user-infos {
  align-self: flex-start;
}

.user-infos > p {
  font-size: 15px;
}

.bio-info {
  align-self: flex-start;
  font-size: 15px;
}

.right-container {
  width: 70%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.repo-nav {
  font-size: 15px;
  font-weight: 500;
}

.repo-length {
  padding: 2px;
  font-size: 12px;
  background-color: lightgrey;
  border-radius: 50%;
}

.nav-hr {
  color: rgb(143, 143, 143);
  width: 100%;
  border: 0,1px solid rgb(193, 193, 193);
}

.repo-divs {
  margin-top: 20px;
  width: 100%;
}

.repo-divs > hr{
  margin-top: 40px;
  width: 100%;
  border: 0,1px solid rgb(193, 193, 193);
}

.repo-divs > h3{
  color: #286ebd;
}

.repo-language-color {
  margin: 0;
  width: 15px;
  height: 15px;
  background-color: rgb(133, 133, 133);
  border-radius: 50%;
}

.stack-div {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stack-div > span{
  margin-left: 5px;
}

.repo-infos {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.repo-infos > * {
  font-size: 15px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.stacks-infos {
  margin-right: 20px;
}

nav {
  height: 30px;
}